# gitignore comments have to be on their own line

# No PyCharm
.idea/

# Ignore Mac Finder metadata file
.DS_Store

# Ignore JupyterLab stuff
.ipynb_checkpoints/

# Distribution/packagaing shit
*egg-info/

# Byte-configuration and optimization files
*__pycache__/
*.pyc

# No PyPi stuff
pypi_packaging.sh
dist/
build/

# Local notes & testing folder
JOSS/
local_doped_testing/

# POTCARs not allowed
*POTCAR

# Sphinx documentation
docs/_build/
docs/jupyter_execute/

# VSCode
.vscode/settings.json

# MgO example
Test_disp.ipynb
examples/MgO/Defects/parse.sh
examples/MgO/Defects/*/vasp_std/KPOINTS
examples/MgO/Defects/*/vasp_std/INCAR
examples/MgO/Defects/*/vasp_std/*.cmdx
examples/MgO/Defects/*/vasp_std/POSCAR
examples/MgO/Defects/*/vasp_std/CONTCAR
examples/MgO/SnB/*/*/KPOINTS
examples/MgO/SnB/*/*/INCAR
examples/MgO/SnB/*/*/*.cmdx
examples/MgO/SnB/*.sh
examples/MgO/Bulk_relax/*INCAR
examples/MgO/Bulk_relax/*KPOINTS
*POTCAR
