# For some stupid fucking reason, gitignore comments have to be on their own line
# What a load of bollocks, anyway here's Wonderwall

# No PyCharm shit
.idea/

# Ignore Mac Finder metadata file
.DS_Store

# Ignore JupyterLab stuff
.ipynb_checkpoints/

# Distribution/packagaing shit
*egg-info/

# Byte-configuration and optimization files
*__pycache__/
*.pyc

# Ignore SMTG Paper Talk PowerPoint stuff
DWTB_Paper_Talk.pptx

# No PyPi stuff
pypi_packaging.sh
dist/
build/

# Local notes & testing folder
doped_JOSS_project/
