sphinx>=7
myst-nb>=1.0
recommonmark
renku-sphinx-theme>=0.4.0  # can update to >0.5.0 when https://github.com/SwissDataScienceCenter/renku-sphinx-theme/pull/26 merged
sphinx_rtd_theme>=1.3.0  # can update to >2.0 when https://github.com/SwissDataScienceCenter/renku-sphinx-theme/pull/26 merged
sphinx_click
sphinx_design
ase
hiphive
click
doped
importlib-metadata

# required dependencies:
filelock
tabulate
matplotlib>=3.5.2
numpy>=1.21  # needed for numpy.typing.NDArray
pymatgen>=2024.7.18  # requirement for spglib>=2.5.0 for SpglibDataset attribute interface
pymatgen-analysis-defects>=2023.8.22
shakenbreak>=3.3.4  # oxi-state functions renaming
pandas>=1.1.0
pydefect>=0.8.1
vise>=0.9.0
cmcrameri
