sphinx
myst-nb
recommonmark
renku-sphinx-theme
sphinx_click
sphinx_design
ase
hiphive
click
doped
importlib-metadata

# required dependencies:
filelock
tabulate
matplotlib>=3.5.2
numpy>=1.21  # needed for numpy.typing.NDArray
pymatgen>=2023.11.12  # limiting factor: POTCAR_STATS_PATH available from pymatgen.io.vasp.inputs
pymatgen-analysis-defects>=2023.8.22
monty
shakenbreak>=3.3.1
packaging
pandas>=1.1.0
pydefect>=0.8.1
vise>=0.9.0