# required dependencies:
filelock
tabulate
matplotlib>=3.5.2
numpy>=1.21  # needed for numpy.typing.NDArray
pymatgen>=2023.11.12  # limiting factor: POTCAR_STATS_PATH available from pymatgen.io.vasp.inputs
pymatgen-analysis-defects>=2023.8.22
monty
shakenbreak>=3.2.4
packaging
pandas>=1.1.0
pydefect

# optional dependencies:
py-sc-fermi
sumo
easyunfold
nonrad
CarrierCapture.jl
